@inject IAccountService accountService
@inject IAuthValidator authValidator
@inject AccountState accountState

<p class="tooltip__title">Reset Password</p>

<EditForm class="miniview__form" Model="dto" OnValidSubmit="HandleSubmit">
	<DataAnnotationsValidator />
	
	<InputText name="password" autocomplete="current-password" type="password" placeholder="Password" @bind-Value="dto.Password" />
	<ValidationMessage For="() => dto.Password" />

	<div class="miniview__actions">
		<button type="button" @onclick="GoBack">Back</button>
		<button type="submit">Submit</button>
	</div>
</EditForm>

@code {
	private readonly PasswordDto dto = new() { Password = "" };

	[Parameter] public EventCallback OnGoBack { get; set; }
	[Parameter] public EventCallback OnSubmit { get; set; }

	private async Task GoBack()
	{
		if (OnGoBack.HasDelegate)
			await OnGoBack.InvokeAsync();
	}

	private async Task HandleSubmit()
	{
		try
		{
			var token = await accountService.ResetPassword(dto);
			await authValidator.PrepareAndValidate(token);
			
			var userClaim = await authValidator.GetUserClaim();
			var user = await accountService.GetUser(userClaim.UserId);
			accountState.Property = user;
		} catch (Exception)
		{
			Console.WriteLine("Failed to ResetPassword");
		}

		if (OnSubmit.HasDelegate)
			await OnSubmit.InvokeAsync();
	}
}
