@implements IDisposable
@inject AccountState accountState

<div aria-role="button" aria-label="Open account details" class="accountisland">
	<Avatar Initials="@GetInitials(accountState.Property?.Username ?? "")" />
	<label class="accountisland__username">
		@accountState.Property?.Username
	</label>
</div>

@code {
	protected override void OnInitialized()
	{
		accountState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		accountState.OnChange -= StateHasChanged;
	}

	public static string GetInitials(string username)
	{
		if (string.IsNullOrWhiteSpace(username))
			return string.Empty;

		var parts = username.Split(' ', StringSplitOptions.RemoveEmptyEntries);
		return string.Concat(parts.Select(p => char.ToUpper(p[0])));
	}
}
