@implements IDisposable
@inject AccountState accountState
@inject ILocalizationService LocalizationService

<div @ref="accountIslandRef" aria-role="button" aria-label="Open account details" class="accountisland" @onclick="HandleToggleClick">
	<Avatar Initials="@GetInitials(accountState.Property?.Username ?? "")" />
	<label class="accountisland__username">
		@accountState.Property?.Username
	</label>
</div>

<Tooltip 
	@ref="accountMgmtTooltip"
	AnchorRef="accountIslandRef"
>
	<AccountMgmt />
</Tooltip>

@code {
	private Tooltip? accountMgmtTooltip;
	private ElementReference accountIslandRef;

	protected override void OnInitialized()
	{
		accountState.OnChange += StateHasChanged;
		LocalizationService.OnLanguageChanged += StateHasChanged;
	}

	public void Dispose()
	{
		accountState.OnChange -= StateHasChanged;
		LocalizationService.OnLanguageChanged -= StateHasChanged;
	}

	private void HandleToggleClick()
	{
		accountMgmtTooltip?.Toggle();
	}


	public static string GetInitials(string username)
	{
		if (string.IsNullOrWhiteSpace(username))
			return string.Empty;

		var parts = username.Split(' ', StringSplitOptions.RemoveEmptyEntries);
		return string.Concat(parts.Select(p => char.ToUpper(p[0])));
	}
}
