<footer class="appfooter">
	<ul class="appfooter__items">
		<li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
		<li><NavLink href="#" Match="NavLinkMatch.All">API</NavLink></li>
		<li><NavLink href="/about" Match="NavLinkMatch.All">About</NavLink></li>
		<li><NavLink href="/privacy" Match="NavLinkMatch.All">Privacy</NavLink></li>
		<li><NavLink href="#" Match="NavLinkMatch.All">Statistics</NavLink></li>
		<li><NavLink href="#" Match="NavLinkMatch.All">Report abuse</NavLink></li>
	</ul>

	<div class="appfooter__credits">
		<p>&copy; ZipLink @DateTime.Today.Year </p>
		<p>❤️ Made by &#64;Powerm1nt</p>
	</div>
</footer>
