@implements IDisposable
@inject AccountState accountState

@page "/"

<PageTitle>stfu.lat - Quick link shortener</PageTitle>

@if (accountState.Property?.Id != null)
{
	<AccountIsland />
}

<div class="controls">


	<Headline />
	<LinkIsland />
</div>

<AppFooter />

@code {
	protected override void OnInitialized()
	{
		accountState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		accountState.OnChange -= StateHasChanged;
	}
}
