@page "/privacy"

<PageTitle>Privacy Policy - ZipLink</PageTitle>
<section>
    <h1>Privacy Policy</h1>
    <p>
        ZipLink values your privacy. We collect minimal data necessary to provide our link shortening service.
    </p>
    <ul>
        <li>We do not collect personal information unless you choose to create an account or log in.</li>
        <li>We use cookies to store authentication data and to keep you logged in.</li>
        <li>We do not share your personal data with third parties.</li>
        <li>Basic usage data (such as link clicks) may be collected to improve our service.</li>
    </ul>
    <p>
        If you have any questions about your privacy, please contact us.
    </p>
</section>


